@import 'bootstrap';
@import 'compass/reset';
@import 'susy';
@import url(http://fonts.googleapis.com/css?family=Merriweather:900,700|Fira+Sans:400,500,700);

$total-columns: 6;
$column-width: 64pt;
$gutter-width: 16pt;
$grid-padding: $gutter-width;

$header-size: 16pt;

//$very-dark-color: hsl(210, 13, 30);
//$dark-color: hsl(207, 12, 37);
//$light-color: hsl(176, 23, 82);
$dark-color: #c7581b;
$very-dark-color: darken($dark-color, 10%);
$light-color: #acacac;

@include border-box-sizing;

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
  a[href]:after {
    content: none !important;
  }
}

body {
  @include container;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 9pt;
  line-height: $gutter-width;
  margin-bottom: $gutter-width;
}

body > header {
  text-align: center;
  //@include span-columns(5 omega);
  margin: 2 * $gutter-width 0 ($gutter-width / 2) 0;
  h1, h2 {
    color: $light-color;
    //font-weight: 600;
    font-weight: 400;
    font-size: inherit;
    text-transform: uppercase;
    margin: 0;
    display: inline;
  }
  h1:after { content: ' '; }
  /*
  h1 {
    @include span-columns(1);
  }
  h2 {
    @include span-columns(5 omega);
    margin-right: -2.5pt;
  }
  */
}

article {
  h1 {
    font-size: $header-size;
    line-height: 18pt;
    font-weight: 700;
    color: $very-dark-color;
    //@include span-columns(5 omega);
    margin: 0 0 $gutter-width 0;
    font-family: Merriweather, serif;
    text-align: center;
  }
  h1 + p {
    //@include span-columns(5 omega);
  }

  a {
    color: $dark-color;
    text-decoration: none;
    font-weight: 500;
    &:hover {
      color: $very-dark-color;
      text-decoration: underline;
    }
  }
  hr {
    display: none;
    + p {
      clear: both;
      @include span-columns(5 omega);
      @include pre(1);
      margin-top: $gutter-width;
      margin-right: 2.5pt;
    }
  }
}

.part {
  clear: both;
  //margin: 0 (-$gutter-width / 2);
  padding: $gutter-width / 2;
  
}

// Parts in between
h1 + .part ~ .part:not(:last-child) {
  @include span-columns(6);
  border-top: 2px solid $dark-color;
  > p {
    margin-bottom: .5 * $gutter-width;
  }
  > p, > ul {
    @include span-columns(5 omega);
    padding: 0;//-$gutter-width / 2;
    margin-right: 2.5pt;
    color: $dark-color;
  }
  > ul {
    margin-right: 2.5pt + $gutter-width;
    padding-left: $gutter-width;
  }
}

// Intro
h1 + .part {
  p {
    margin-bottom: $gutter-width;
  }
}

// Last
.part:last-child {
  border-top: 2px solid $dark-color;
}

.goal {
  @include span-columns(6);
  padding: ($gutter-width / 2);
  margin: 0 (-$gutter-width / 2);
  page-break-inside: avoid;
  border-top: 1px dotted $dark-color;
  header {
    text-align: center;
    h2 {
      font-family: Merriweather, serif;
      font-size: $header-size;
      line-height: 27pt;
      font-weight: 700;
      color: $dark-color;
      @include span-columns(1);
      clear: both;
      //text-align: right;
      margin-top: 0;
      &:before {
        //content: 'Goal ';
      }
    }
    p {
      font-size: 8pt;
      color: $dark-color;
      @include span-columns(1);
      @include pull(1);
      margin-top: $gutter-width * 2;
      //text-align: right;
      .areas, .means {
        display: block;
      }
      .areas {
        font-weight: 600;
      }
    }
  }
  main {
    @include span-columns(5 omega);
    em {
      font-style: italic;
    }
    strong {
      text-decoration: underline;
    }
    del {
      opacity: .5;
    }
    ol {
      li {
        margin-left: $gutter-width;
      }
      list-style: lower-alpha;
    }
  }
  footer {
    @include span-columns(5 omega);
    padding-top: $gutter-width / 2;
    h3 {
      display: none;
    }
    p {
      font-weight: 500;
      font-size: 8pt;
      &:before {
        content: 'Status: ';
      }
      a {
        //text-decoration: underline;
      }
    }
    &:before {
      @extend .glyphicon;
      @include span-columns(1);
      @include pull(1);
      text-align: right;
    }
  }
  &.in-progress footer:before {
    @extend .glyphicon-play;
  }
  &.cancelled {
    opacity: .5;
    footer:before { @extend .glyphicon-remove; }
  }
  &.success {
    $color: green;
    background: lighten($color, 70%);
    * { color: green; }
    footer:before {
      @extend .glyphicon-ok;
    }
  }
  &.waiting footer:before {
    @extend .glyphicon-time;
  }
}
