@import 'bootstrap';
@import 'compass/reset';
@import 'susy';

$total-columns: 6;
$column-width: 64pt;
$gutter-width: 16pt;
$grid-padding: $gutter-width;

$very-dark-color: hsl(210, 13, 30);
$dark-color: hsl(207, 12, 37);
$light-color: hsl(176, 23, 82);

@include border-box-sizing;

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
}

body {
  @include container;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 9pt;
  line-height: $gutter-width;
  margin-bottom: $gutter-width;
}

header {
  h1, h2 {
    color: $light-color;
    font-weight: 600;
    font-size: inherit;
    text-transform: lowercase;
    margin: $gutter-width 0;
  }
  h1 {
    @include span-columns(1);
  }
  h2 {
    @include span-columns(5 omega);
    margin-right: -2.5pt;
  }
}

article {
  h1 {
    font-size: 18pt;
    line-height: 18pt;
    font-weight: 300;
    color: $very-dark-color;
    @include span-columns(5 omega);
    //@include pre(1);
    margin: $gutter-width 0;
    margin-right: -2.5pt;
    //margin-right: 2.5pt;
  }
  h1 + p {
    @include span-columns(5 omega);
    margin-right: -2.5pt;
    //margin-right: 2.5pt;
    //margin-left: space(1);
    //@include pre(1);
    //margin-left: span-columns(1 alpha);
    //margin: $gutter-width 0;
  }

  a {
    color: $dark-color;
    text-decoration: none;
  }
  hr {
    display: none;
    + p {
      clear: both;
      @include span-columns(5 omega);
      @include pre(1);
      margin-top: $gutter-width;
      margin-right: 2.5pt;
    }
  }
}

.part {
  clear: both;
  //margin: 0 (-$gutter-width / 2);
  @include span-columns(6);
  padding: $gutter-width / 2;
  > p, > ul {
    @include span-columns(5 omega);
    padding: 0;//-$gutter-width / 2;
    margin-right: 2.5pt;
  }
  > ul {
    margin-right: 2.5pt + $gutter-width;
    padding-left: $gutter-width;
  }
}

.goal {
  @include span-columns(6);
  padding: ($gutter-width / 2);
  margin: 0 (-$gutter-width / 2);
  page-break-inside: avoid;
  header {
    h2 {
      font-size: 18pt;
      line-height: 27pt;
      font-weight: 100;
      color: $dark-color;
      @include span-columns(1);
      clear: both;
      //text-align: right;
      margin-top: 0;
      &:before {
        //content: 'Goal ';
      }
    }
    p {
      font-size: 8pt;
      color: $dark-color;
      @include span-columns(1);
      @include pull(1);
      margin-top: $gutter-width * 2;
      //text-align: right;
    }
  }
  main {
    @include span-columns(5 omega);
    em {
      font-style: italic;
    }
    strong {
      text-decoration: underline;
    }
    del {
      opacity: .5;
    }
  }
  footer {
    @include span-columns(5 omega);
    h3 {
      display: none;
    }
    p {
      font-weight: 500;
      font-size: 8pt;
      /*
      &:before {
        content: 'Status: ';
      }
      */
      a {
        text-decoration: underline;
      }
    }
    &:before {
      @extend .glyphicon;
      @include span-columns(1);
      @include pull(1);
      text-align: right;
    }
  }
  &.in-progress footer:before {
    @extend .glyphicon-play;
  }
  &.cancelled {
    opacity: .5;
    footer:before { @extend .glyphicon-remove; }
  }
  &.success {
    $color: green;
    background: lighten($color, 70%);
    * { color: green; }
    footer:before {
      @extend .glyphicon-ok;
    }
  }
  &.waiting footer:before {
    @extend .glyphicon-time;
  }
}
